body  {
  background-color: #fffaf0;
  font-family: monospace;
  margin: 5% 10% 5% 10%;
}

h1 {
  text-align: center;

}

p {
  margin-left: 15%;
  margin-right: 15%;
}

.frontlink {
  font-size: 20px;
  text-align: center;
}

.fronthead {
  font-size: 40px;
}

.blog{
  text-align: justify;
}
