body{
  margin-top: 0px;
}

.header{
  position: relative;
  height: 40px;
}

.navbar a:hover {
  background-color: #ccc; /* Dark grey background on mouse-over */
}

.navbar a.active {
  background-color: #4CAF50; /* Add a green color to the "active/current" link */
  color: white;
}

.navbar a{
  font-size: 30px;
  padding-left: 5px;
  padding-right: 5px;
}

.navbar {
  display: inline-block;
  overflow: visible;
  background-color: #eee; /* Grey background color */
  position: fixed; /* Sticky */
  width: 100%; /* Fills out all of the window */
  height: 40px;
  z-index: 10;
  padding-left: 50px;
}

.vertical-menu {
  width: 100px; /* Set a width if you like */
  height: 100%;
  display: block; /* Make the links appear below each other */
  padding: 12px; /* Add some padding */
  text-decoration: none; /* Remove underline from links */
  position: fixed; /* Sticky */
  overflow: visible;
  background-color: #eee; /* Grey background color */
  padding: 0px;
  margin-right: 10px;
}

.vertical-menu a {
  padding: inherit;
  padding-left: 12px;
  color: black; /* Black text color */
}

section {
  margin-top: 10px;
  border-top: 1px solid #c90000;
  display: grid;
}

.container_page{
  z-index: 8;
}

.container_content{
  position: absolute;
  margin-left: 120px;
  margin-right: 100px;
  z-index: 8;
}
