body{
  margin-top: 0px;
}

.vertical-menu {
  width: 100px; /* Set a width if you like */
}

.vertical-menu a {
  background-color: #eee; /* Grey background color */
  color: black; /* Black text color */
  display: block; /* Make the links appear below each other */
  padding: 12px; /* Add some padding */
  text-decoration: none; /* Remove underline from links */
  position: fixed; /*Sticky*/
  overflow: visible;
}

.header{
  position: relative;
  border-bottom: 1px solid #c90000;
  height: 40px;
  z-score: 100;
}

.navbar a:hover {
  background-color: #ccc; /* Dark grey background on mouse-over */
}

.navbar a.active {
  background-color: #4CAF50; /* Add a green color to the "active/current" link */
  color: white;
}

.navbar {
  display: inline-block;
  overflow: visible;
  background-color: #eee; /* Grey background color */
  position: fixed; /*Sticky */
  top: 100; /* Top Padding*/
  width: 100%; /*Fills out all of the window*/
  height: 40px;

}

section {
  margin-top: 10px;
  border-bottom: 1px solid #c90000;
  display: grid;
}

.container_page{
  z-score: 80;
}

.container_content{
  position: absolute;
  margin-left: 100px;
  margin-right: 40px;
  z-score:80;
}
